@use "../global/mixins" as *;
@use "../global/variables" as *;

.catalog__pagination {
  flex-shrink: 0;
  display: flex !important; // Гарантируем, что блок не скрыт
  justify-content: center;
  align-items: center;
  gap: 15px;
  // position: relative;
  // z-index: 10; // Чтобы быть выше подложек
  //padding-top: 20px;
}

.catalog__pagination-btn {
  background-color: transparent;
  border: transparent;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color $transition-300,  color $transition-300;

  // margin: 0 0 43px;
  @include vp-1023 {
    display: none;
  }

  @include vp-767 {
    display: none;
  }

  .pagination-dots {
        @include vp-1023 {
    display: none;
  }
    @include vp-767 {
      display: none;
    }
  }

  &.active {
    color: $color-burnt-orange; // Подсветка активной
    font-weight: bold;
  }

  &:hover,
  &:focus {
    //background-color: $color-whisper;
   background-color:  $color-burnt-orange;
   color: $color-white;
   border-radius: 5px;
  }
}
