@use "../global/mixins" as *;
@use "../global/variables" as *;

.footer {
  border-top: 1px solid $color-whisper;
  // flex: 0 0 auto;
  // height: 100px;
  // flex-shrink: 0;
  // position: fixed;
  // width: 100%;
  // bottom: 0;
  // left: 0;
  //  z-index: 1;

  background-color: $color-white;

  // @include vp-1023 {
  //   position: fixed;
  //   width: 100%;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 1;
  // }

  @include vp-767 {
    // position: fixed;
    height: 120px;
    // width: 100%;
    // bottom: 0;
    // left: 0;
    // z-index: 1;
  }

  &__player {
    display: grid;
    align-items: end;
    width: 100%;
    grid-template-columns: 434px 681px 97px;
    gap: 84px;
    padding: 0;
    margin: 0;
    background-color: $color-white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb71f3', endColorstr='#3d4d91', GradientType=1);
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border-top: 1px solid $color-whisper;

    @media (max-width: 1392px) {
      grid-template-columns: 434px 1fr 97px;
    }

    @include vp-1023 {
      display: flex;
      gap: 16px;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    @include vp-767 {
      min-width: 336px;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      padding: 14px 0 16px 0;
      position: relative;
      margin: 0 -8px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 6px 7px;
    gap: 10px;

    @include vp-767 {
      padding: 0;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__top-title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-nero;
  }

  &__top-icon {
    color: $color-burnt-orange;
  }

  &__info-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-dark-gray;

    @include vp-767 {
      width: 181px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /* Controls */

  &__controls {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    //  align-items: center;
    gap: 6px;

    @include vp-1023 {
      padding: 0;
      width: 100%;
    }

    @include vp-767 {
      display: flex;
      // display: contents;
    }
  }

  /* Loading */
  #loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
    background-color: #ef5126;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
    display: none;
  }
  @-webkit-keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }

  &__controlsInner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @include vp-767 {
      position: absolute;
      bottom: 45px;
      right: 0;
    }
  }
  &__btn {
    cursor: pointer;
    opacity: 0.9;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
    -webkit-user-select: none;
    user-select: none;
    transition: opacity $transition-300;

    // &.active {
    //   color:$color-burnt-orange;
    // }

    &:hover {
      opacity: 1;
      filter: drop-shadow(1px 2px 2px $color-burnt-orange);
    }

    // &#playBtn

    &#play-pauseBtn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color-dark-gray;
      left: 50%;
      // @include vp-767 {
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      // }
    }
    &#skip-forwardBtn,
    &#skip-backBtn,
    &#shuffleBtn,
    &#prevBtn,
    &#nextBtn,
    &#repeatBtn {
      color: $color-dark-gray;

      
    &.active {
      color:$color-burnt-orange;
    }

      @include vp-767 {
        display: none;
      }
    }
  }

  &__btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // display: none;
  }

  &__btn-pause {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  &__controlsProgress {
    // position: relative;
    display: flex;
    // display: grid;
    // grid-template-columns: 24px 1fr 24px;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;

    @include vp-767 {
      display: flex;
      //   position: relative;
    }
  }
  &__timer,
  &__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: $color-dark-gray;
  }

  /* Progress */
  // &__waveform {
  //   width: 100%;
  //   height: 20px;
  //   position: absolute;
  //   left: 35px;
  //   margin: -15% auto;
  //   display: block;
  //   cursor: pointer;
  //   opacity: 0.8;
  //   -webkit-user-select: none;
  //   user-select: none;

  //   @include vp-1023 {
  //     display: none;
  //   }

  //   @include vp-767 {
  //     display: none;
  //   }
  // }
  // &__waveform:hover {
  //   opacity: 1;
  // }

  &__line {
    width: 100%;
    display: flex;
    position: relative;
  }
  &__bar {
    width: 100%;
    height: 2px;
    background-color: $color-whisper;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    opacity: 0.9;

    @include vp-1023 {
      width: 100%;
    }

    // @include vp-767 {
    //   min-width: 264px;
    // }
  }
  &__progress {
    position: absolute;
    width: 100%;
    height: 3px;
    // transform: translateY(50%);
    background-color: $color-burnt-orange;
    // z-index: -1;


    @include vp-1023 {
      // width: 100%;
    }
    @include vp-767 {
      min-width: 264px;
    }
  }

  &__volume {
    display: flex;
    height: 16px;
    gap: 9px;
    margin: 0 0 18px;
    align-items: center;

    @media (max-width: 1382px) {
    }

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__volume-slider {
    -webkit-appearance: none; /* Скрытие стандартных стилей */
    width: var(--progress, 0%);
    width: 72px;
    height: 4px;
    border-radius: 5px;
    background: $color-whisper 30%;
    outline: none;
  }

  /* Стилизация ползунка (кружка) */
  &__volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: $color-burnt-orange;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &__volume-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: $color-burnt-orange;
    border-radius: 50%;
    cursor: pointer;
  }

  &__progress-track {
    position: relative;
    display: flex;
  }

  &__progressBar {
    position: absolute;
    border-radius: 5px;
    width: 0%;
    height: 4px;
    background: $color-burnt-orange;
    //transition: width 0.3s;
  }
}
