@use "../global/mixins" as *;
@use "../global/variables" as *;

.tippy-box {
  display: flex;
  border-radius: 10px;
}

.tippy__card {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &-header {
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: $color-burnt-orange;
    margin: 0;

    @include vp-767 {
      font-size: 14px;
      line-height: 10px;
    }
  }

  .tippy__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      font-size: 17px;
      line-height: 10px;
      color: $color-tangaroa;
    }

    &-author {
      margin: 0;
      font-size: 15px;
      line-height: 10px;
      color: $color-dark-Gray;
    }
  }
}

.tippy__btn {
  width: 24px;
  height: 24px;
  border: transparent;
  background-color: transparent;
  position: relative;
  padding: 0;
  color: $color-silver;
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
  user-select: none;
  transition: opacity $transition-300;

  &:hover {
    opacity: 1;
    filter: drop-shadow(1px 2px 2px $color-burnt-orange);
  }

  &:active .tooltip__btn-icon {
    color: $color-burnt-orange;
  }

  &-icon {
    stroke: none;

    @include vp-767 {
      width: 17px;
      height: 17px;
    }
  }
}
