.custom-input {
  position: relative;

  &__search {
    min-width: 798px;
    height: 53px;
    padding: 10px 44px;
    border-radius: 30px;
    border: transparent;
    background-color: $color-whiteSmoke;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-tangaroa;
    transition: background-color $transition;
    cursor: pointer;
    outline: none;

    &::placeholder {
      color: $color-dark-Gray;
    }

    &:hover {
      background-color: $color-whisper;
    }
    &:focus {
      background-color: $color-whisper;
      border: 2px solid $color-whisper;
    }
  }

  &__search:hover .custom-input__img {
    color: $color-whisper;
  }

  &__btn {
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
    top: 50%;
    left: 12px;
    padding: 0;

    &:hover &__img {
        color: $color-dark-Gray;
    }
  }

  &__img {
    color: $color-dark-gray;
    transition: color $transition;
  }
}
